/*index page*/
 the css style for course introduction
#indexBody {
    background-image: url('../images/home_background.png'); /* Replace 'your-image.jpg' with the path to your image */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    color: white; /* Set text color to white or a suitable contrast color */
}
#price1, #price2, #price3 {
    color: white;
    font-weight: bold;
}
.fall{
    color: black;
    font-weight: bold;
}
/**********************************************************************************/
/*price */
/*#priceBody {*/
/*    background-image: url('/assets/images/pay_background.png');*/
/*    background-size: cover; !* Cover the entire viewport *!*/
/*    background-position: center; !* Center the background image *!*/
/*    background-repeat: no-repeat; !* Do not repeat the background image *!*/
/*    color: white; !* Set text color to white or a suitable contrast color *!*/
/*}*/


/* Add some basic styling to the table for better presentation */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}


   /*index*/
   /* set the style of the biggest frame in the homeList page */
.home_middle_frame_1,
.home_middle_frame_2,
.home_middle_frame_3,
.home_middle_frame_4 {
   display: flex;
   border: 0.1em solid rgba(173, 173, 187, 0.405);
   /* white color with 50% opacity */
   border-radius: 2.5%;
   width: 70vw;
   max-width: 1250px;
   margin: auto;
   padding: 1.5vw;
   backdrop-filter: blur(2.5vw);
   /* creates the fog-like effect */
}

