.del-btn {
  width: 150px;
  margin-top: 50px;
}
.del-title {
  height: 40px;
  text-align: left;
  padding: 20px;
}
.del-desc {
  padding: 20px;
  text-align: left;
  height: 30px;
}
.setting-input {
  /* height: 100%; */
  width: 100%;
  background: linear-gradient(
    rgba(99, 106, 150, 0.4) 0%,
    rgba(182, 186, 214, 0.25) 100%
  );
  border: none;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 40px,
    rgba(255, 255, 255, 0.3) 0px 0px 0px 0.5px inset;
  box-sizing: border-box;
  padding: 10px 42px 10px 56px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: rgb(255, 255, 255);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}
.del-main{
  height: 400px;
}
.setting-profile {
  height: 100px;
  padding: 20px;
}
.form-text {
  color: rgb(255, 255, 255);
}
.bg-warp {
  z-index: -1;
  position: fixed;
  width: 100%;
  top: 0px;
  background: linear-gradient(
    200.44deg,
    rgb(67, 22, 219) 13.57%,
    rgb(144, 118, 231) 98.38%
  );
  height: 100%;
}
.bg-wave {
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(
    rgba(47, 184, 255, 0.42) 31.77%,
    rgb(158, 236, 217) 100%
  );
  opacity: 0.4;
  z-index: 0;
  left: 30%;
  top: 150px;
  width: 228px;
  height: 228px;
  mix-blend-mode: overlay;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}

/* .blob-animation {
  position: absolute;
  top: 150px;
  left: 200px;
  width: 500px;
  height: 500px;
  background: linear-gradient(
    rgba(47, 184, 255, 0.42) 31.77%,
    rgb(158, 236, 217) 100%
  );
  z-index: 100;
  mix-blend-mode: color-dodge;
  animation: 25s ease 0s infinite alternate none running;
} */

@keyframes izRuqW {
  0% {
    transform: translate(0px, -50px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }
  100% {
    transform: translate(500px, 100px) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

.blob-animation {
  position: absolute;
  top: -10px;
  left: 200px;
  width: 500px;
  height: 500px;
  background: linear-gradient(
    rgba(47, 184, 255, 0.42) 31.77%,
    rgb(158, 236, 217) 100%
  );
  z-index: -1;
  mix-blend-mode: color-dodge;
  animation: izRuqW 25s ease 0s infinite alternate none running;
}

.setting-main-side {
  height: 44px;
  transition: all 0.3s ease-in-out 0s;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.setting-side-line {
  width: 100%;
  height: 1px;
  background: rgb(255, 255, 255);
  opacity: 0.2;
}
.setting-side {
  height: 44px;
  transition: all 0.3s ease-in-out 0s;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}
.setting-form {
  max-width: 300px;
  display: grid;
  max-width: 300px;
  height: fit-content;
  gap: 20px;
}

.setting-main {
  border-radius: 10px;
  border: 1px solid #000;
  border-radius: 20px;
  grid-template-columns: 200px auto;
  max-width: 960px;
  min-height: 600px;
  background: rgba(50, 61, 109, 0.5);
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 100px,
    rgba(255, 255, 255, 0.3) 0px 0px 0px 0.5px;
  backdrop-filter: blur(40px);
  border-radius: 20px;
  margin: 0px auto;
  overflow: hidden;

  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 130%;
  text-transform: uppercase;
  margin: 0px;
  color: rgb(255, 255, 255);
  mix-blend-mode: normal;
  text-align: left;
}
.setting-form-right {
  background: rgba(15, 14, 71, 0.3);
  border-left: 0.5px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  box-shadow: rgba(31, 31, 71, 0.3) 0px 50px 100px;
  backdrop-filter: blur(40px);
  padding: 30px 30px 150px;
}
.form-button {
  background: linear-gradient(
    91.4deg,
    rgb(47, 184, 255) 0%,
    rgb(158, 236, 217) 100%
  );
  border: none;
  border-radius: 30px;
  box-shadow: rgba(147, 231, 221, 0.3) 0px 20px 40px;
  cursor: pointer;
  display: grid;
  text-align: center;
  padding: 12px 0px;
  width: 100%;
  position: relative;
  -webkit-box-pack: center;
  justify-content: center;
}
