.course-navbar {
    padding: 30px;
}




.course-intro {
    text-align: center;
    display: grid;
    margin-top: 10px;
    padding:80px

    
}
.course-list{
    display: grid;
    margin-top: 60px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 60px;
    padding: 80px;
}
.course-firstrow-one-content {
    text-align: center;
}
.course-firstrow-two-content {
    text-align: center;
}

.course-firstrow-three-content {
    text-align: center;
}

