
/* --------------------------------the css style for the course webpage--------------------------------------------------------- */

/* the css style for head navbar */

.course-navbar {
    padding: 30px;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-family: 'Roboto Mono', monospace;
    background-color: transparent !important;
}
.course-button{
    background-color: white;
}

.nav-item{
    margin-left: 60px;
}
.course-nav-main{
    text-align:f center;
    padding-top: 16px;
}
.course-navbar-title{
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: bounce; 
    animation-duration: 2s; 
    color: white;
    margin-right: 120px;

    font-size: 35px;

    font-family: 'Permanent Marker', cursive;
}

.course-navbar p,i {
    color:white;
}
.course-navbar col {
    min-width: 157px;
}

.course-page-foot-navbar p,i{
    color:white;
}

/* the css style for course introduction */

.course-list p,i{
    color:white;
}
.course-intro {
    text-align: center;
    display: grid;
    margin-top: 10px;
    padding:80px;
    font-family: 'Cabin', sans-serif;
    font-size: 22px;
    color:white;
}

/* the css style for course list */

.course-list{
    text-decoration: none;
    display: grid;
    margin-top: 60px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 120px;
    padding: 80px;
    font-family: 'Jost', sans-serif;
    color:white;
}
.course-nav{
    margin-left: 20px;
}
.course-list a{
    text-decoration: none;
    box-shadow:none;
    padding:20px;
    overflow: hidden;
    transition: transform 0.3s;
    border-radius:40px;
}

.course-list a:hover{
    transform: scale(1.1);
}

.course-list img{
    width:100%;
}
.course-firstrow-one-content {
    text-align: center;
    
}
.course-firstrow-two-content {
    text-align: center;
}
.course-firstrow-three-content {
    text-align: center;
}
.course-secondrow-one-content {
    text-align: center;
}
.course-secondrow-two-content{
    text-align: center;
}
.course-secondrow-three-content{
    text-align: center;
}
.course-thirdrow-one-content{
    text-align: center;
}
.course-thirdrow-two-content{
    text-align: center;
}
.course-thirdrow-three-content{
    text-align: center;
}

/* the css style for footing navbar */

.course-page-foot{
    text-align: center;
    position: relative;
    display:grid;
    grid-template-columns: auto auto;
    column-gap: 100px;
    margin:100px;
    padding:80px;
    font-family: 'Jost', sans-serif;
    font-family: 'Roboto Mono', monospace;
    color:white;
}
.course-page-foot-navbar{
    display:grid;
}
.course-page-foot-message{
    text-align: center;
    padding:80px;
}
.course-home-icon{
    float: left;
}
.course-home-word{
    float: left;
    margin-left: 8px;
}
.course-courses-icon{
    float: left;
}
.course-courses-word{
    float: left;
    margin-left: 8px;
}
.course-livestream-icon{
    float: left;
}
.course-livestream-word{
    float: left;
    margin-left: 10px;
}
.course-pay-icon{
    float: left;
}
.course-pay-word{
    float: left;
    margin-left: 8px;
}
.course-navbar-pay{
    padding-left: 50px;
}
.course-login-icon{
    float: left;
}
.course-login-word{
    float: left;
    margin-left: 8px;
}
.course-page-foot-navbar a{
    text-decoration: none;
}


/* the css style for background color */

#course-main{
    background: linear-gradient(189.16deg, rgb(57, 15, 199) 13.57%, rgb(40, 35, 77) 98.38%);
    display: flow-root;
}

.course-firstrow-one{
    display:block;
    background: linear-gradient(209.21deg, rgb(32, 25, 76) 13.57%, rgb(46, 42, 59) 98.38%);
}
.course-firstrow-two{
    background: linear-gradient(209.21deg, rgb(32, 25, 76) 13.57%, rgb(46, 42, 59) 98.38%);
}
.course-firstrow-three{
    background: linear-gradient(209.21deg, rgb(23, 23, 27) 13.57%, rgb(119, 63, 211) 98.38%);
}
.course-secondrow-one{
    background: linear-gradient(209.21deg, rgb(76, 55, 109) 13.57%, rgb(31, 21, 53) 98.38%);
}
.course-secondrow-two{
    background: linear-gradient(209.21deg, rgb(153, 40, 52) 13.57%, rgb(255, 114, 98) 98.38%);
}
.course-secondrow-three{
    background: linear-gradient(209.21deg, rgb(233, 109, 44) 13.57%, rgb(239, 77, 77) 98.38%);
}
.course-thirdrow-one{
    background: linear-gradient(209.21deg, rgb(255, 114, 98) 13.57%, rgb(153, 40, 52) 98.38%);
}
.course-thirdrow-two{
    background: linear-gradient(209.21deg, rgb(136, 0, 148) 13.57%, rgb(81, 77, 255) 98.38%);
}
.course-thirdrow-three{
    background: linear-gradient(209.21deg, rgb(101, 187, 118) 13.57%, rgb(70, 111, 171) 98.38%);
}

/* --------------------------------------the css style for the course-detail webpage------------------------------------------------------ */

/* the css style for background color */

.course-firstrow-one-detail .course-detail-image{
    background: linear-gradient(209.21deg, rgb(32, 25, 76) 13.57%, rgb(46, 42, 59) 98.38%);
}
.course-firstrow-two-detail .course-detail-image{
    background: linear-gradient(209.21deg, rgb(32, 25, 76) 13.57%, rgb(46, 42, 59) 98.38%);
}
.course-firstrow-three-detail .course-detail-image{
    background: linear-gradient(209.21deg, rgb(23, 23, 27) 13.57%, rgb(119, 63, 211) 98.38%);
}
.course-secondrow-one-detail .course-detail-image{
    background: linear-gradient(209.21deg, rgb(76, 55, 109) 13.57%, rgb(31, 21, 53) 98.38%);
}
.course-secondrow-two-detail .course-detail-image{
    background: linear-gradient(209.21deg, rgb(153, 40, 52) 13.57%, rgb(255, 114, 98) 98.38%);
}
.course-secondrow-three-detail .course-detail-image{
    background: linear-gradient(209.21deg, rgb(233, 109, 44) 13.57%, rgb(239, 77, 77) 98.38%);
}
.course-thirdrow-one-detail .course-detail-image{
    background: linear-gradient(209.21deg, rgb(255, 114, 98) 13.57%, rgb(153, 40, 52) 98.38%);
}
.course-thirdrow-two-detail .course-detail-image{
    background: linear-gradient(209.21deg, rgb(136, 0, 148) 13.57%, rgb(81, 77, 255) 98.38%);
}
.course-thirdrow-three-detail .course-detail-image{
    background: linear-gradient(209.21deg, rgb(101, 187, 118) 13.57%, rgb(70, 111, 171) 98.38%);
}

/* the css style for course detail introduction */

.course-detail-intro{
    font-family: 'Cabin', sans-serif;
    font-size: 22px;
    /* color:white; */
    display:grid;
    gap:20px;
    padding-right: 100px;
    
}
.course-detail-intro h1,p{
    color:white;
}


.detail-foot{
    font-size: 12px;
}
.course-detail-intro img{
    width:60px;
    height:60px;
}
.course-detail-image{
    padding-top: 100px;
    width:360px;
    height:480px;
    transition: transform 0.3s;
    border-radius:40px;
}
.course-detail-image:hover{
    transform: scale(1.1);
}
.course-detail-image img{
    width:300px;
    height:250px;
}
.course-detail-row{
    gap:70px;
}
.course-detail-col{
    padding-left: 70px;
    padding-top: 90px;
}
.course-detail-intro button{
    background-color: transparent;
    border: none;
}
.course-detail-frame{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(261px, 1fr));
    gap:20px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    padding:30px;
    max-width: 1872px;
}
.course-detail-main{
    margin-top: 100px;
    padding:50px;
}
.course-detail-row{
    margin-top: 100px;
}

/* the css style for course detail list */

.course-detail-list{
    width:100%;
    padding:20px;
}
.course-detail-list .num{
    background: rgba(68, 66, 178, 0.1);
    border-radius: 50px;
}
.course-detail-list .num p{
    color: rgb(0, 0, 0);
}
.course-detail-list .category .head{
    font-size:bold;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.course-detail-list .category p{
    color: rgba(0, 0, 0, 0.7);
}
