/* ================================================================================================ */
/* ======================================Background================================================ */
.livestreamListBackground {
    background-image: url("../images/livestream-background.png");
    /* Set the background image*/
    background-size: cover;
    /* Let the background image cover the entire viewport */
    background-repeat: no-repeat;
    /* Prevent the background image repeating */
    background-position: center center;
    /* Put the background image in the center of the body */
    min-height: 100vh;
    /* Ensure that the background covers at least the viewport height */
}

.livestreamDetailsBackground {
    background-color: rgb(20, 29, 62);
}

.livestream-small-break {
    height: 3em;
}

.livestream-large-break {
    height: 8em;
}

/* ================================================================================================ */
/* ======================================Upper page text=========================================== */
.livestreamListBackground body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
}

.livestreamList-upper-text {
    position: relative;
    text-align: center;
    max-width: 40%;
    /* Use a percentage for adaptive width */
    /* padding: 10% 2% 0; */
    padding-top: 10%;
    padding-bottom: 2%;
    margin: 0 auto;
    display: grid;
    gap: 2%;
    margin-bottom: 5vh;
    /* Use viewport height for margin */
}

/* Media query for smaller screens */
@media (max-width: 76em) {
    .livestreamList-upper-text {
        max-width: 80%;
        /* Adjust the maximum width for smaller screens */
    }
}

.livestream-list-heading {
    font-family: 'DM Serif Display', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3em;
    /* Use em for adaptive font size */
    margin: 0;
    margin-top: 12vh;
    margin-bottom: 3vh;
    color: #ffffff;
}

.livestream-list-smallHeading {
    font-family: 'DM Serif Display', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2em;
    line-height: 130%;
    margin: 0;
    margin-bottom: 2.5em;
    padding-bottom: 1em;
    color: rgba(255, 255, 255, 0.876);
}

/* ================================================================================================ */
/* =========================================== Modal ============================================== */

/* Styles for Modal */
.livestreamList-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.livestreamList-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(229, 240, 255);
    padding: 2em;
    /* Use em for padding */
    text-align: center;
    border-radius: 1em;
    /* Use em for border-radius */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.livestreamList-modal-content p {
    font-size: 1.125em;
    /* Use em for font-size */
    margin-bottom: 1.25em;
    /* Use em for margin */
}

.livestreamList-modal-content button {
    background-color: #4CAF50;
    color: #fff;
    padding: 0.625em 1.25em;
    /* Use em for padding */
    font-size: 1em;
    /* Use em for font-size */
    border: none;
    border-radius: 0.3125em;
    /* Use em for border-radius */
    cursor: pointer;
    margin: 0 0.625em;
    /* Use em for margin */
}

.livestreamList-modal-content button:hover {
    background-color: #45a049;
}

/* ================================================================================================ */
/* ====================================== media for page =========================================== */

/* Media query for smaller screens */
@media (max-width: 768px) {

    .livestream_middle_frame_1,
    .livestream_middle_frame_2,
    .livestream_middle_frame_3,
    .livestream_middle_frame_4 {
        flex-direction: column;
        /* Change to column layout for smaller screens */
        height: auto;
        /* Allow height to adjust based on content */
    }

    .livestream_small-frame_1,
    .livestream_small-frame_2,
    .livestream_small-frame_3,
    .livestream_small-frame_4 {
        width: 100%;
        /* Takes full width on smaller screens */
        margin-top: 1em;
        /* Adjust margin for spacing */
        height: auto;
        /* Allow height to adjust based on content */
    }
}


/* ================================================================================================ */
/* ======================================Style for frame 1========================================= */

.livestream_middle_frame_1,
.livestream_middle_frame_2,
.livestream_middle_frame_3,
.livestream_middle_frame_4 {
    display: flex;
    border: 0.1em solid rgba(173, 173, 187, 0.405);
    /* white color with 50% opacity */
    border-radius: 2.5%;
    /* width: 950px; */
    width: 85%;
    height: 25em;
    margin: auto;
    padding: 2%;
    backdrop-filter: blur(2.5em);
    /* creates the fog-like effect */
}

.livestream_frame_image_1,
.livestream_frame_image_2,
.livestream_frame_image_3,
.livestream_frame_image_4 {
    flex: 1;
    height: 100%;
    margin-right: 1.25em;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
}

.livestream_frame_image_1:hover,
.livestream_frame_image_2:hover,
.livestream_frame_image_3:hover,
.livestream_frame_image_4:hover {
    transform: scale(1.1);
    /* Zoom the element up by 20% when hovering over it */
}

.livestream_frame_content_1,
.livestream_frame_content_2,
.livestream_frame_content_3,
.livestream_frame_content_4 {
    color: rgb(250, 240, 240);
    flex: 2;
    height: 100%;
}


.livestream_small-frame_1,
.livestream_small-frame_2 {
    border: 0.1em solid rgba(172, 172, 209, 0.362);
    border-radius: 2.5em;
    padding-top: 0.625em;
    padding-right: 0.125em;
    padding-left: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    height: 17.5em;
    /*fix the height for scroll down*/
    width: 100%;
    overflow-y: auto;
    /*make if scrollable*/
}

.livestream_small-frame_3,
.livestream_small-frame_4 {
    border: 0.1em solid rgba(172, 172, 209, 0.362);
    border-radius: 2.5em;
    padding-top: 0.625em;
    padding-right: 0.125em;
    padding-left: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    height: 17.5em;
    /*fix the height for scroll down*/
    width: 100%;
}

.livestream_small-frame_1::-webkit-scrollbar,
.livestream_small-frame_2::-webkit-scrollbar,
.livestream_small-frame_3::-webkit-scrollbar,
.livestream_small-frame_4::-webkit-scrollbar {
    display: none;
    /* makes the scrollbar invisible */
}

/* grid was used */
.livestream_frame_list-style {
    display: grid;
    grid-template-columns: repeat(2, minmax(0.2em, 15em));
    grid-template-rows: repeat(7, minmax(2.5em, auto));
    /* grid-template-columns: ; */
    /* Adjust the min and max values as needed */
    gap: 1.875em;
}

/*   list-style-type: none ;*/

.livestream_frame_block_1 {
    background-color: rgba(0, 0, 128, 0.337);
    backdrop-filter: blur(2.5em);
    /* red-pink color */
    padding-bottom: 1.25em;
    margin: 0.3125em;
    margin-left: 1em;
    border-radius: 2.5em;
    padding-top: 3.125em;
    cursor: pointer;
    /* Add this line to set cursor to pointer on hover */
    height: 100%;
    width: auto;
}

.livestream_frame_block_1 img {
    width: 100%;
    height: 50%;
    display: block;
    /* Make the image a block-level element */
    padding-left: 1.5625em;
    /* Center the image horizontally */
}

.livestream_frame_block_1 h2 {
    text-align: center;
    padding-bottom: 1.25em;
    color: rgb(224, 224, 224);
}

/* ================================================================================================ */
/* ======================================Style for frame 2========================================= */

.livestream_frame_block_2 {
    background-color: rgba(137, 118, 231, 0.398);
    backdrop-filter: blur(2.5em);
    padding-bottom: 1.25em;
    margin: 0.3125em;
    margin-left: 1.25em;
    border-radius: 2.5em;
    padding-top: 3.125em;
    cursor: pointer;
    /* Add this line to set cursor to pointer on hover */
    height: 100%;
    width: auto;
}

.livestream_frame_block_2 img {
    width: 100%;
    height: 50%;
    display: block;
    padding-left: 1.5625em;
}

.livestream_frame_block_2 h2 {
    text-align: center;
    padding-bottom: 1.25em;
    color: rgb(224, 224, 224);
}


/* ================================================================================================ */
/* ======================================Style for frame 3========================================= */

.livestream_frame_block_3 {
    background-color: rgba(16, 80, 169, 0.371);
    backdrop-filter: blur(2.5em);
    /* red-pink color */
    padding-bottom: 1.25em;
    margin: 0.3125em;
    margin-left: 1.25em;
    border-radius: 2.5em;
    padding-top: 3.125em;
    cursor: pointer;
    /* Add this line to set cursor to pointer on hover */
    margin-left: 25px;
    height: 100%;
    width: auto;
}

.livestream_frame_block_3 img {
    width: 100%;
    height: 50%;
    display: block;
    padding-left: 1.5625em;
}

.livestream_frame_block_3 h2 {
    text-align: center;
    padding-bottom: 1.25em;
    color: rgb(224, 224, 224);
}

/* =============================================================================================== */
/* ======================================Style for frame 4========================================= */

.livestream_frame_block_4 {
    background-color: rgba(28, 28, 86, 0.335);
    backdrop-filter: blur(2.5em);
    /* red-pink color */
    padding-bottom: 1.25em;
    margin: 0.3125em;
    margin-left: 1.25em;
    border-radius: 2.5em;
    padding-top: 3.125em;
    cursor: pointer;
    /* Add this line to set cursor to pointer on hover */
    height: 100%;
    width: auto;
}

.livestream_frame_block_4 img {
    width: 100%;
    height: 50%;
    display: block;
    padding-left: 1.5625em;
}

.livestream_frame_block_4 h2 {
    text-align: center;
    padding-bottom: 1.25em;
    color: rgb(224, 224, 224);
}

/* =============================================================================================== */
/* ===============================scroll button for minigame ===================================== */


.livestream-scroll-button-for-minigame {
    display: flex;
    justify-content: flex-end;
    margin-right: 0.125em;
    /* Adjust the margin to position the button 5em from the right screen side */
    cursor: pointer;
}

/* Adjust the color of the button */
.livestream-scroll-button-for-minigame button {
    background-color: rgba(34, 67, 197, 0.671);
    /* Set the background color to your desired color */
    color: #ffffff;
    /* Set the text color to contrast with the background color */
    border: none;
    /* Remove the button border if not needed */
    padding: 10px;
    /* Adjust padding as needed */
}


/* =============================================================================================== */
/* ====================================== Minigame =============================================== */
.livestream-minigame body {
    text-align: center;
    background-color: #f8f9fa;
    margin: 0;
}

.livestream-minigame h1 {
    color: #ffffff;
    font-family: 'DM Serif Display', serif;
    font-family: 'Josefin Sans', sans-serif;
}

#livestream-minigame-container {
    max-width: 50em;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    /* Use auto-fit and minmax for responsive columns */
    gap: 2em;
}

.livestream-minigame-card {
    height: 3.5em;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border-radius: 0.5em;
    transition: background-color 0.3s;
}

.livestream-minigame-card:hover {
    background-color: #555;
}

.livestream-minigame-card.flipped {
    background-color: rgb(108, 108, 109);
}



/* ================================================================================================ */
/* ================================================================================================ */
/* ================================================================================================ */
