/* the css style for head navbar */

.course-navbar {
    padding: 30px;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-family: 'Roboto Mono', monospace;
    background-color: transparent !important;
}
.course-button{
    background-color: white;
}

.nav-item{
    margin-left: 60px;
}
.course-nav-main{
    text-align:f center;
    padding-top: 16px;
}
.course-navbar-title{
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: bounce; 
    animation-duration: 2s; 
    color: white;
    margin-right: 120px;

    font-size: 35px;

    font-family: 'Permanent Marker', cursive;
}

.course-nav-slogan{
    color: white;
    padding-left: 30px;
}

.course-navbar p,i {
    color:white;
}
.course-navbar col {
    min-width: 157px;
}

.course-page-foot-navbar p,i{
    color:white;
}


/* the css style for welcome information */
.course-updates-welcome p ,h1{
    text-align:center;
    color:white;
}

.course-updates-welcome{
    padding:20px;
}

/* the css style for course updates information */
.course-updates-intro{
    display: grid;
    gap:10px;
}
.course-updates-intro .intro-one{
    font-weight: 600;
    font-size: 13px;
    line-height: 130%;
    margin: 0px;
    color: rgba(0, 0, 0, 0.7);
}
.course-updates-intro .intro-two{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    margin: 0px;
    color: rgba(0, 0, 0, 0.7);
}
.learn-question{
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
    margin: 0px;
    text-align:left;
}

.course-updates-intro p{
    text-align:left;
}

.course-updates-intro h4{
    text-align:left;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    margin: 0px;
    color: rgb(0, 0, 0);
}
.course-updates-detail .detail-time{
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    margin: 0px;
    color: rgb(0, 0, 0);
    line-height: 130%;
}
.course-updates-detail .detail-more{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 130%;
    margin: 8px 0px 0px;
    color: rgba(0, 0, 0, 0.7);
}

/* the css style for course updates info display */

.course-updates-row{
    margin:50px;
    padding:55px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 0.5px inset;
    backdrop-filter: blur(40px);
}

/* the css style for course updates images */

.course-updates-image{
    /* text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; */

    /* display: flex;
    align-items: center;
    justify-content: center; */

    display: flex;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 90%;

    border-radius: 20px;

    transition: transform 0.3s;
}
.course-updates-image:hover{
    transform: scale(1.1);
}


.course-updates-image img{
    /* width:70%;
    height: 70%;
    align-items: center;
     */
     width: 50%; /* Make sure the image doesn't exceed the container width */
     height: 50%;
     text-align: center;
     padding-top: 60px;

     width: 70%;
     height: 70%;
     padding-top: 12px;
}

.image-one{
    background: linear-gradient(200.44deg, rgb(0, 175, 214) 13.57%, rgb(55, 1, 123) 98.38%);
}
.image-two{
    background: linear-gradient(200.44deg, rgb(101, 187, 118) 13.57%, rgb(70, 111, 171) 98.38%);
}
.image-three{
    background: linear-gradient(200.44deg, rgb(242, 136, 133) 13.57%, rgb(233, 79, 102) 98.38%);
}

/* the css style for footing navbar */

.course-page-foot{
    text-align: center;
    position: relative;
    display:grid;
    grid-template-columns: auto auto;
    column-gap: 100px;
    margin:100px;
    padding:80px;
    font-family: 'Jost', sans-serif;
    font-family: 'Roboto Mono', monospace;
    color:white;
}
.course-page-foot-navbar{
    display:grid;
}
.course-page-foot-message{
    text-align: center;
    padding:80px;
}
.course-home-icon{
    float: left;
}
.course-home-word{
    float: left;
    margin-left: 8px;
}
.course-courses-icon{
    float: left;
}
.course-courses-word{
    float: left;
    margin-left: 8px;
}
.course-livestream-icon{
    float: left;
}
.course-livestream-word{
    float: left;
    margin-left: 10px;
}
.course-pay-icon{
    float: left;
}
.course-pay-word{
    float: left;
    margin-left: 8px;
}
.course-navbar-pay{
    padding-left: 50px;
}
.course-login-icon{
    float: left;
}
.course-login-word{
    float: left;
    margin-left: 8px;
}
.course-page-foot-navbar a{
    text-decoration: none;
}

/*  */
.bg-warp{
    z-index: -1;
    position: fixed;
    width: 100%;
    top: 0px;
    background: linear-gradient(
      200.44deg,
      rgb(67, 22, 219) 13.57%,
      rgb(144, 118, 231) 98.38%
    );
    height: 100%;

}
.bg-wave{
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(
      rgba(47, 184, 255, 0.42) 31.77%,
      rgb(158, 236, 217) 100%
    );
    opacity: 0.4;
    z-index: 0;
    left: 30%;
    top: 150px;
    width: 228px;
    height: 228px;
    mix-blend-mode: overlay;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
}
.blob-animation{
    position: absolute;
    top: -10px;
    left: 200px;
    width: 500px;
    height: 500px;
    background: linear-gradient(rgba(47, 184, 255, 0.42) 31.77%, rgb(158, 236, 217) 100%);
    z-index: -1;
    mix-blend-mode: color-dodge;
    animation: izRuqW 25s ease 0s infinite alternate none running;
}
@keyframes izRuqW {
    0% {
      transform: translate(0px, -50px) rotate(-90deg);
      border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }
    100% {
      transform: translate(500px, 100px) rotate(-10deg);
      border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
  }

